Sphinx<2
recommonmark<1
ablog<1
tox==2.3.1
sphinxcontrib.datatemplates
sphinx_autobuild
PyYAML==3.12
docutils<0.13.1
csvkit==1.0.2
yamllint
pathlib
git+https://github.com/ericholscher/datatemplates@add-key-and-context#egg=sphinxcontrib.datatemplates-dev
urllib3[secure]
yamale
ruamel.yaml
