Hi {name},

Thanks so much for submitting a proposal to speak at this year's Write the Docs {location}. Every year we receive a growing number of proposals, and we're always blown away by the amazing breadth of knowledge that our community brings to the table. Unfortunately, presentation spots are limited and the talk selection committee wasn't able to include your talk in our program this year.

We would still love it if you could join us in {city} on {date} though! We set aside a block of early bird tickets for anyone who took the time to submit a talk proposal. You can pick up your ticket with the following link:

{ticket_url}

During the review process, each member of the review committee considered each proposal carefully and then compared notes to make their final selections. We thought it might be useful to share a couple of the common themes for why talks may not have been included:

* The subject of the talk was too specific for a larger audience. One of the biggest strengths of the Write the Docs community is that we come from a huge variety of professional and personal backgrounds. The committee looks specifically for talks that appeal to a good mix of our attendees.
* The talk focused heavily on documentation tooling. We think these talks are important, but we tend to showcase higher-level concepts that progress the way we think in the documentation world.
* There were multiple talks on the same topic. We try to choose talks that cover a wide range of topics, which means making some hard choices between multiple great talks on similar topics.
* We just didn't have room. We receive many fantastic talks each year and have to pass up on some talks that we were really excited by.

Keep in mind that we do run several batches of lightning talks that you can sign up for at the event. Plus, we have an unconference space which is a great chance for more informal discussions. We'd love to have you, your ideas, and your passion at the conference--on stage or not, they're what make this event great!

Thanks again for your proposal, and we hope to see you at the conference!

The Write the Docs Team
