body {
  font-family: aleoregular;
  font-size: 100%;
  /*font-size: 1em;*/
  min-height: 640px;
  min-width: 280px;
}
.navbar-inner{
  background: none;
  border: none;
}
/* basic elements */

h1, h2, h3, h4, h5, h6 {
  font-family: aleobold;
}

h2 {
  font-family: aleobolditalic;
}

a {
  text-decoration: none;
}

footer {
  padding-bottom: 20px;
  line-height: 2em;
}

strong {
  font-family: aleobold;
}

#social-footer a {
 margin-right: 6px;
 line-height: 2em;
}

.poster {
  font-family: aleoregular;
}

.divider-block {
  margin: 0;
  height: 1em;
  border: none;
}

.wtd-block, .locale-block {
  padding: 7.5%;
}

/*.wtd-block, .locale-block, .divider-block {
  width: 38m;
}*/

.poster-the {
  font-family: aleolight;
}

.poster-write, .poster-docs, .poster-orgeon {
  font-family: aleobold;
}

#home {
  margin-top: 63px;
}

section {
  margin-bottom: 80px;
}

section.content .span8, section.content .span10 {
  padding: 40px;
}
.navbar .span8, .navbar .span10 {
 padding-left: 40px;
 padding-right: 40px;
}

section.content h1 {
  display: inline-block;
  padding: 10px 20px;
  text-align: right;
  width: 90%;
  font-family: aleolight;
  margin-left: -40px;
}

section.content p {
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  section.content .span8, section.content .span10 {
    padding: 10px;
  }
  section.content h1 {
    margin-left: -10px;
  }
}

section.content .speakers {
  margin-bottom: 15px;
  margin-top: 15px;
}

nav {
  position: fixed;
  top: 0;
  padding: 20px 40px;
  border-bottom: 3px solid white;
  z-index: 100;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  white-space: nowrap;
  text-transform: uppercase;
  display: block;
  padding: 0 20px;
  color: #08c;
  font-size: 14px;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #08c;
}

.media:first-child {
  margin-top: 15px;
}

.speakers img {
  width: 200px;
  margin-bottom: 10px;
  border-top: solid 10px #f1f1f1;
  border-left: solid 10px #f1f1f1;
  /*
  border-right: solid 10px #363948;
  border-bottom: solid 10px #363948;
  */
  border-right: solid 10px #f2b33f;
  border-bottom: solid 10px #f2b33f;

  max-width: 90%;
}
.speakers .media-heading {
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 5px;
  color: #f1f1f1;
  font-size: .95em;

}
.yellow-sec .media-heading a {
  color: #f1f1f1;

}
.radio.inline+.radio.inline {
  margin-left: 0px;
}

.radio.inline {
  margin-right: 10px;
}

.hidden {
  display: none;
}

#social-footer span {
  display: inline-block;
}

#sponsors .span12 img {
  max-height: 360px;
}

#sponsors .span6 img {
  max-height: 120px;
}

/* font sizes for slab
*/

.wtd-r1, .wtd-r2,
.wtd-r3, .wtd-r4, .wtd-r5,
.wtd-r3-na, .wtd-r4-na, .wtd-r5-na {
  display: inline-block;
  display: -moz-inline-box;
  white-space: nowrap;
  display: block;
  line-height: 0.9;
}



/*

  word spaces = (px / font-px / 10 * 2 )em
*/

/* media queries for slab text */
@media (min-width: 1200px) {
  #home .span8 {
    width: 850px;
  }
  .offset2 {
    margin-left: 190px;
  }
  .wtd-r1{
    font-size: 13.621663961038962em;
    word-spacing: 0.0em;
    letter-spacing: -0.00275974025974026em;
  }
  .wtd-r2{
    font-size: 9.25575487012987em;
    word-spacing: -0.0005933441558441558em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 6.444890422077922em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 11.644310064935066em;
    word-spacing: 0.0em;
    letter-spacing: -0.004601866883116884em;
  }
  .wtd-r5{
    font-size: 5.1567816558441555em;
    word-spacing: -0.11498457792207793em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 6.21em;
    letter-spacing: 0.001em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 10.75em;
    word-spacing: 0.0em;
    letter-spacing: 0;
  }
  .wtd-r5-na {
    font-size: 7.3em;
    word-spacing: -0.11498457792207793em;
    letter-spacing: 0.003em;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  #home .span8 {
    width: 700px;
  }
  .offset2 {
    margin-left: 140px;
  }
  .wtd-r1{
    font-size: 11.217840909090908em;
    word-spacing: 0.0em;
    letter-spacing: -0.0022727272727272726em;
  }
  .wtd-r2{
    font-size: 7.622386363636363em;
    word-spacing: -0.0004886363636363636em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 5.307556818181818em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 9.589431818181819em;
    word-spacing: 0.0em;
    letter-spacing: -0.0037897727272727276em;
  }
  .wtd-r5{
    font-size: 4.246761363636363em;
    word-spacing: -0.09469318181818182em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 5.114117647058824em;
    letter-spacing: 0.0008235294117647058em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 8.852941176470587em;
    word-spacing: 0.0em;
    letter-spacing: 0.0em;
  }
  .wtd-r5-na {
    font-size: 6.011764705882353em;
    word-spacing: -0.09469318181818182em;
    letter-spacing: 0.0024705882352941176em;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #home .span8 {
    width: 556px;
  }
  .offset2 {
    margin-left: 104px;
  }
  .navbar .container {
    width: 724px;
  }
  .wtd-r1{
    font-size: 8.91017077922078em;
    word-spacing: 0.0em;
    letter-spacing: -0.0018051948051948053em;
  }
  .wtd-r2{
    font-size: 6.054352597402597em;
    word-spacing: -0.00038811688311688315em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 4.215716558441558em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 7.616748701298701em;
    word-spacing: 0.0em;
    letter-spacing: -0.003010162337662338em;
  }
  .wtd-r5{
    font-size: 3.373141883116883em;
    word-spacing: -0.07521344155844156em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 4.0620705882352945em;
    letter-spacing: 0.0006541176470588236em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 7.031764705882353em;
    word-spacing: 0.0em;
    letter-spacing: 0.0em;
  }
  .wtd-r5-na {
    font-size: 4.775058823529412em;
    word-spacing: -0.07521344155844158em;
    letter-spacing: 0.0019623529411764706em;
  }
}
@media (min-width: 641px) and (max-width: 767px) {
  /* unit = 51 */
  .container, .navbar .container {
    width: 588px;
  }
  .offset2 {
    margin-left: 51px;
  }
  .span8 {
    width: 490px;
  }
  .wtd-r1{
    font-size: 7.852488636363636em;
    word-spacing: 0.0em;
    letter-spacing: -0.001590909090909091em;
  }
  .wtd-r2{
    font-size: 5.335670454545454em;
    word-spacing: -0.0003420454545454545em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 3.7152897727272727em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 6.712602272727272em;
    word-spacing: 0.0em;
    letter-spacing: -0.0026528409090909094em;
  }
  .wtd-r5{
    font-size: 2.9727329545454544em;
    word-spacing: -0.06628522727272727em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 3.5798823529411763em;
    letter-spacing: 0.0005764705882352941em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 6.197058823529411em;
    word-spacing: 0.0em;
    letter-spacing: 0.0em;
  }
  .wtd-r5-na {
    font-size: 4.208235294117647em;
    word-spacing: -0.06628522727272727em;
    letter-spacing: 0.0017294117647058823em;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  /* u = 39 */
  .container, .navbar .container {
    width: 444px;
  }
  .offset2 {
    margin-left: 39px;
  }
  .span8 {
    width: 370px;
  }
  .wtd-r1{
    font-size: 5.929430194805195em;
    word-spacing: 0.0em;
    letter-spacing: -0.0012012987012987014em;
  }
  .wtd-r2{
    font-size: 4.028975649350649em;
    word-spacing: -0.0002582792207792208em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 2.8054228896103894em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 5.068699675324675em;
    word-spacing: 0.0em;
    letter-spacing: -0.002003165584415585em;
  }
  .wtd-r5{
    font-size: 2.2447167207792207em;
    word-spacing: -0.05005211038961039em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 2.7031764705882355em;
    letter-spacing: 0.00043529411764705884em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 4.679411764705883em;
    word-spacing: 0.0em;
    letter-spacing: 0.0em;
  }
  .wtd-r5-na {
    font-size: 3.1776470588235295em;
    word-spacing: -0.050052110389610396em;
    letter-spacing: 0.0013058823529411765em;
  }
}
@media (max-width: 479px) {
  /* u = 24 */
  .container, .navbar .container {
    width: 266px;
  }
  h3 {
    font-size: 18px;
  }
  #mc_embed_signup {
    margin-left: -30px;
  }
  .offset2 {
    margin-left: 0px;
  }
  .span8 {
    width: 266px;
  }
  .wtd-r1{
    font-size: 4.262779545454546em;
    word-spacing: 0.0em;
    letter-spacing: -0.0008636363636363636em;
  }
  .wtd-r2{
    font-size: 2.8965068181818183em;
    word-spacing: -0.00018568181818181818em;
    letter-spacing: 0.0em;
  }
  .wtd-r3{
    font-size: 2.016871590909091em;
    letter-spacing: 0.0em;
    word-spacing: 0.0em;
  }
  .wtd-r4{
    font-size: 3.643984090909091em;
    word-spacing: 0.0em;
    letter-spacing: -0.0014401136363636365em;
  }
  .wtd-r5{
    font-size: 1.613769318181818em;
    word-spacing: -0.035983409090909094em;
    letter-spacing: 0.0em;
  }
  .wtd-r3-na {
    font-size: 1.9433647058823529em;
    letter-spacing: 0.0003129411764705882em;
    word-spacing: 0.0em;
  }
  .wtd-r4-na {
    font-size: 3.364117647058823em;
    word-spacing: 0.0em;
    letter-spacing: 0.0em;
  }
  .wtd-r5-na {
    font-size: 2.284470588235294em;
    word-spacing: -0.035983409090909094em;
    letter-spacing: 0.0009388235294117647em;
  }
  section.content h1 {
    width: 105%;
  }
}
@media (max-width: 320px) {
  #mc_embed_signup {
    margin-left: 0px;
  }
  section.content h1 {
    width: 85%;
  }
}


/* Schedule */
table.docutils {
    border-collapse:collapse;
    border: 0 hidden;
    -moz-box-shadow: 0px 0px 0px #eee;
    -webkit-box-shadow: 0px 0px 0px #eee;
    box-shadow: 0px 0px 0px #eee;
}

table.docutils td {
    border: 0 hidden;
}

table.docutils tr {
    border: 0 hidden;
}

table.docutils th {
    border: 0 hidden;
    text-align: left;
}

#write-the-docs-schedule table {
    background-color: #fff;
}