/*
 Write the Docs Styles
*/

@font-face {
    font-family: 'Hagin Caps Medium';
    src: url('font/hagin-caps-medium-webfont.eot');
    src: url('font/hagin-caps-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/hagin-caps-medium-webfont.woff') format('woff'),
         url('font/hagin-caps-medium-webfont.ttf') format('truetype'),
         url('font/hagin-caps-medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Hagin Caps Medium';
    src: url('font/hagin-caps-medium-webfont.eot');
    src: url('font/hagin-caps-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/hagin-caps-medium-webfont.woff') format('woff'),
         url('font/hagin-caps-medium-webfont.ttf') format('truetype'),
         url('font/hagin-caps-medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
*/
@font-face {
    font-family: 'Hagin Caps Thin';
    src: url('font/hagin-caps-thing-webfont.eot');
    src: url('font/hagin-caps-thing-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/hagin-caps-thing-webfont.woff') format('woff'),
         url('font/hagin-caps-thing-webfont.ttf') format('truetype'),
         url('font/hagin-caps-thing-webfont.svg#hagin_caps_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poly';
    src: url('font/poly-italic-webfont.eot');
    src: url('font/poly-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/poly-italic-webfont.woff') format('woff'),
         url('font/poly-italic-webfont.ttf') format('truetype'),
         url('font/poly-italic-webfont.svg#polyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poly';
    src: url('font/poly-regular-webfont.eot');
    src: url('font/poly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/poly-regular-webfont.woff') format('woff'),
         url('font/poly-regular-webfont.ttf') format('truetype'),
         url('font/poly-regular-webfont.svg#polyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 100%;
  font-weight: 400;
}

body, input, textarea {
  font-family: 'Poly', 'goudy old style', 'minion pro', 'bell mt', Georgia, 'Hiragino Mincho Pro', Helvetica, serif;
}

h1 {
  font-family: 'Hagin Caps Medium';
}

h2, h3, h4, h5 {
  font-family: 'Hagin Caps Medium';
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    font-family: 'Hagin Caps Medium', 'Garamond', Georgia, serif;
}

div.sphinxsidebar input {
    font-family: 'Hagin Caps Medium', 'Georgia', serif;
}

div.body h1, div.body h2, div.body h3,
div.body h4, div.body h5, div.body h6 {
    font-family: 'Hagin Caps Medium', 'Garamond', 'Georgia', serif;
}

div.admonition p.admonition-title {
    font-family: 'Hagin Caps Medium', 'Garamond', 'Georgia', serif;
}

/*
pre, tt {
    font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}
*/

a.headerlink {
  margin-left: 5px;
}

div.note {
  border-radius: 4px;
}

div.sphinxsidebar ul ul, div.sphinxsidebar ul.want-points {
  margin-left: 15px;
}

ul, ol {
  margin: 10px 0 10px 20px;
}

blockquote {
  margin: 0 0 0 20px;
  padding: 8px;
  border-style: 1px solid #cccccc;
  background-color: #fafafa;
}
blockquote > div {

}
blockquote > div:before,
blockquote > div:after {
  line-height: 1em;
  font-weight: bold;
  font-size: 2em;
  color: #cccccc;
}
blockquote > div:before {
  margin-right: 4px;
  float: left;
}
blockquote > div:after {
  margin-left: 4px;
  float: right;
}

dl dd {
  margin-left: 0px;
}

div.admonition {
  margin: 20px -30px;
  padding: 20px 20px;
}
#logo span {
  font-family: 'Hagin Caps Medium', serif;
  font-weight: bold;
  font-size: 12px;
}
#logo p {
  color: #444;
  margin: 0 0 10px 0;
}
#logo hr {
  border-top: solid 1px #333;
  border-bottom: solid 4px #333;
  border-left: none;
  border-right: none;
  color: white;
  background-color: white;
  height: 2px;
  margin: 0;
  padding: 0;
  margin: 10px 0 25px 0;
}
div.sphinxsidebarwrapper {
  padding: 5px 10px 18px 10px;
}

@media screen and (max-width: 600px)
  ul {
    margin: 10px 0 10px 20px;
  }
  div.admonition {
    margin: 20px 0px;
    padding: 20px 20px;
  }
