/* Write the Docs - 2015 */

/* Nav */
div.navbar,
nav.navbar {
    margin-bottom: 0px;
}

/* Hero */
div.hero {
    background: #4a4f6e;
    color: #f2f0eb;
    padding: 1em 0em;
    font-size: 6em;
    font-weight: bold;
    line-height: 1em;
}

div.hero-wtd div.wtd-2015 {
    color: #b37a73;
}

div.hero-details {
    padding-top: 2.5em;
    font-weight: 100;
    color: #b0b2c7;
}

div.hero-details > div {
    font-size: .55em;
    font-weight: 100;
    line-height: 1em;
    text-align: right;
}
