Hi {name},

The Write the Docs talk selection committee has just wrapped up the review process and we'd love it if you could join us as a speaker!

Write the Docs {location} is held in {city} on {date}.

We think your '{title}' talk would be a great fit for the conference. We'd love to have you prepare it for a *30-minute* time slot. 

So, from here, your first step is to reply to this email as soon as possible, to confirm that:

* you're still interested in presenting in {city} on {date}. We'll confirm exact slots at a later date.
* you'll be attending *the whole conference*. So much of the value of Write the Docs comes from the community interactions, so it's really important to us that our speakers are around to participate.

Next, there are a few housekeeping things:

* Get your free speaker ticket at: {ticket_url}
* If you already purchased a ticket, let us know, and we will issue you a refund.
* Send us a colour 300 x 300px headshot, and optional twitter handle to accompany your talk abstract on the website.
* Send us any changes you would like to make to your abstract before we publish it. The abstract is included at the bottom of this email.
* Finally, when you're sharing the good news, make sure to tag your tweets and posts with '#writethedocs'!

Okay, now that's all out of the way, it's time for the fun part--preparing your talk! To make sure everybody's on the same page, here are a few important things to keep in mind:

* Remember that one of the biggest strengths of the Write the Docs community is that we come from a huge variety of professional and personal backgrounds. When you're writing your talk (just like you're when writing documentation), think about the diverse needs and interests of your audience, avoid (or define) any jargony language, and make sure you clearly express what people are going to learn from your talk.
* Remember this is a community conference. If you're representing your employer it's okay to mention that, but please don't treat your talk as a marketing opportunity.
* If you would be interested in having another member of the Write the Docs community mentor you through the talk preparation process, please tell us! We'll do our best to connect you with someone to bounce ideas off, to review drafts, and to help you refine your talk before the conference.
* Make sure you plan your talk to fit in the allotted time. Also, note that we will not be pausing for questions after your presentation. Instead, we encourage attendees to chat with our speakers during the breaks, or in our unconference space.
* Please review our Code of Conduct (http://writethedocs.org/code-of-conduct/) and make sure your talk content adheres to it. As a rule of thumb, if you're on the fence about whether something in your talk could be considered inappropriate or offensive, leave it out. If you have a question about the code, feel free to email us and ask!

Before you get too absorbed in talk prep, though, please send us an email confirming that you'll be joining us! :)

If you're concerned about travel details or expenses, let us know and we can discuss options. As we confirm your details, we'll publish your abstract, headshot, and information on the conference site. We'll also be emailing attendees so they can share in our excitement about the talks we'll be presenting this year!

Thanks again for submitting your talk, we look forward to seeing you up on the Write the Docs stage! Feel free to email us with any questions, concerns, or ideas.

Thanks for helping make this year's conference another great one!

The Write the Docs Team

Your submitted abstract:

{abstract}