Hi {name},

Thanks so much for submitting a proposal to speak at this year's Write the Docs {city}. Every year we receive a growing number of proposals, and we're always blown away by the amazing breadth of knowledge that our community brings to the table.  Unfortunately, presentation spots are limited and the talk selection committee wasn't able to include your talk in our program this year.

We would still love it if you could join us in {city} on {date} though! You can pick up your ticket from the following link:

{tickets}

During the review process, each member of the review committee considered each proposal carefully and then compared notes to make their final selections. We thought it might be useful to share a couple of the common themes for why talks may not have been included for this year’s event:

* We had too many good talks. The quality of our submissions gets higher every year, and we always – heart-breakingly – end up having to pass up on some talks that we’re really excited by. 
* The subject of the talk was too specific for a larger audience. One of the biggest strengths of the Write the Docs community is that we come from a huge variety of professional and personal backgrounds. The committee looks specifically for talks that appeal to a good mix of our attendees.
* The subject of the talk was too broad and didn't have a strong enough connection to the core interests of the community.
* The talk focused heavily on documentation tooling. We think these talks are important, but we tend to showcase higher-level concepts that progress the way we think in the documentation world.
* There were multiple talks on the same topic. We try to choose talks that cover a wide range of topics, which means making some hard choices between multiple great talks on similar topics.

Keep in mind that we do run several batches of lightning talks that you can sign up for at the event. We also have an unconference space which is a great chance for more informal discussions. We'd love to have you, your ideas, and your passion at the conference--on stage or not, they're what make this event great!

Thanks again for your proposal. We strongly encourage you to submit again, for future events, and in the meantime we hope to see you in {city}!

The Write the Docs Team

