Hi {name},

Thanks so much for submitting a proposal to speak at this year's Write the Docs {location} conference. Our selection committee has just wrapped up our review, and we had such a hard time choosing from so many awesome proposals. We'd like to ask if you'd be willing to be on the short list of alternates--talks that we'd really like to see, but ran out of room for on the schedule.

Basically, what this entails is bearing with us for another week or two, while we get confirmations from our other speakers. If we have a speaker turn us down, their slot is yours! We'll let you know, one way or the other, in the next couple of weeks, so you won't have be in suspense for too long. Please reply as soon as you can and let us know if you'd be willing to stick it out.

Thanks again for your proposal, and either way, we hope to see you at the conference!

The Write the Docs Team

Your submitted abstract:

{abstract}
