Hello everyone,

Thank you all for your time and commitment in making Write The Docs a great conference this year. Without you, we would not be able to run the conference. You all went above and beyond in both performing your duties as well as creating a welcoming environment for our attendees.

I am currently compiling thoughts about what went well and what we could change/do for next year's volunteer coordinating. I'd love to hear from you all as well, especially your thoughts about what went well with your experience as a volunteer as well as any suggestions for next year's wrangling. With your thoughts, I hope to continue to improve on the volunteer experience for the conference.

Please feel free to reach out to me directly with feedback, suggestions, and comments about how things went for you this year. You can also use the feedback form that we sent out, if you wish to provide feedback anonymously.

Thank you again and hope to see you next year!
<NAME>
