Hello volunteers!

Thank you all for signing up to volunteer for Write The Docs <CITY> <YEAR>. Without you, we wouldn't be able to pull off the conference!

I'm <FULLNAME>, the volunteer coordinator for this year. We're currently in the process of putting together our volunteer schedule, and more information will be heading your way soon. For now, though, I'd like to take a quick head count to see if you are still able and willing to attend and volunteer. 

**Please respond to this email and let me know if you are still planning to volunteer at the conference by <DATE>.**

In the meantime, please feel free to ask me any questions about all things volunteering at the conference.

Thanks again and see you soon,
<NAME>
