Hello everyone,

Now that the conference is less than two weeks away, I have some additional information for you:

* Shifts - Please review the schedule again [1] in case you need to change something or to review for changes. At the conference, please arrive 5 minutes before your shift starts to meet at the registration desk for a quick briefing and to go over any questions you have before your shift. For the Saturday setup crew, I will not be on site; you will be working with other organizers at that time, and they will be able to brief you.

* Volunteer identification - You all will wear special lanyards for your volunteer shifts. This will let others know that they can reach out to you with questions that you are gracious enough to donate some of your time to help make this conference succeed! In case you don't have the answers at hand, you can refer those folks along to me. You'll also receive regular lanyards so that when you're not on shift you can rest and relax.

* Contact info - If you haven't done so already, please enter your contact information [3] in case we need to reach one of you during the conference.

* Please review the Code of Conduct [4] and Response Playbook [5] carefully, as you might need to handle incidents and we want to make sure that everyone is familiar with our guidelines and how to make the conference comfortable and inclusive to all. We take the code of conduct and incident response very seriously, and we expect all volunteers to take it seriously as well. If you find yourself in a situation where you have any questions regarding enforcement or if you need assistance in responding to a report, please grab me or another event organizer.

I look forward to seeing you all soon! Safe travels and please let me know if you have any questions.

Thanks,
<NAME>

[1]
[2]
[3]
[4] http://www.writethedocs.org/code-of-conduct/
[5] http://www.writethedocs.org/code-of-conduct-response/
