Hello volunteers,

Now that the conference is coming up soon, I have some additional information for you:

*Shifts*
Please review the schedule again [1] as some recent changes were made. At the conference, please arrive 15 minutes before your first shift starts to meet at the registration desk for a quick briefing and to go over any questions you have before your shift. For shifts after, please arrive 5 minutes before. For the Saturday setup crew, I may not be on site; but there will be other organizers at that time, and they will be able to brief you.

*Volunteer identification*
You all will wear special lanyards for your volunteer shifts. This will let others know that they can reach out to you with questions and that you are gracious enough to donate some of your time to help make this conference succeed! In case you don't have the answers at hand, you can refer those folks along to me. You'll also receive regular attendee lanyards so that when you're not on shift you can rest and relax.

*Code of Conduct*
Please review the Code of Conduct [2] and the Response Guide [3], as we want to make sure that everyone is familiar with our guidelines and how to make the conference comfortable and inclusive to all. We take the code of conduct and incident response very seriously, and we expect all volunteers to take it seriously as well. In general, CoC reports will be handled by the CoC response team, which consists of XXXX.

If someone comes to you with a CoC report, grab one of us. Feel free to interrupt any of us from what we are doing at the time. If it’s not immediately possible, at least take down the reporter's details and ideally, what happened, where, when and who was involved. You can take action yourself only if you can’t reach any of us and if the situation requires immediate action, but ideally consult at least another organiser or volunteer. In non-urgent cases, please do not take action on your own, and don’t express to the reporter whether or not you think this is a CoC violation or what action should be taken. If you find yourself in a situation where you have any questions regarding CoC process, please feel free to ask one of us. I should stress that most CoC incidents are rather minor and not urgent at all, though we take those seriously also, but it’s important for us to be prepared for more severe situations as well.

*Roles*
Here are some details on what each role entails:

* Venue set up - you’ll go with the organisers to the venue after the boat ride. The tasks include preparing the registration desk, laying out swag, arranging boards for the writing day, putting up posters, and similar tasks. Organisers will give you more specific tasks at the venue.
* Writing day - Assisting the Writing Day coordinator, Kelly O’Brien. You can generally expect this to include general information inquiries, directing attendees to specific tables, helping writing day project leads with logistical questions, and similar tasks.
* Registration desk/Info - Registering people in the main conference hall, meaning you check their name on the attendee list, give them their badge and provide basic info about the venue. People will also come here with questions, but most of them are fairly basic, like “when is lunch”, “where is the bathroom” and “do I need to bring my badge to the social event”. For more complex questions, or if someone shows up that is not on the attendee list, myself and other organisers will be available. I’ll also be there at the start of your first registration shift to show you what to do, and will be around most of the time when registration is busy.
* Speaker coordinator - Finding speakers and making sure that they’re where they need to be when it comes time to speak. With this task you’ll be working with XXXX, our speaker coordinator.
* Speaker timing - Keeping track of the length of the talks and warning speakers when they’re running out of time. You’ll be guided by either the speaker coordinator, XXXX, or the emcee, XXXX.
* A/V and tech support - Assisting presenters at the time of their greatest need while on stage - issues with slides, video, or audio portions of their presentation. This task basically means you need to be present especially at the start of every presentation, to help out if needed. I’ve tried to combine this slot with speaker timing, because that means you’ll be in the room anyways.
* Floaters - no specific duties assigned, but you need to be available to help out wherever needed. That could be going out to buy some supplies, or filling in for another volunteer. Ensure that you are reachable on Slack, and receive notifications from Slack.
* Unconference - Camping out in the unconference area downstairs, keeping the place in order, updating unconference room schedule, and so on. For this, you’ll work with the unconference coordinator, XXXX, who will give you more specific tasks.
* Job Fair- Helping vendors set up their tables before the job fair, or helping with setting the room back for the unconference sessions that follow in the afternoon. For this, you’ll work with the job fair coordinator, XXXX.
* Social event - checking whether everyone who enters the social event has a badge or a wristband, and handing out wristbands to people with badges. Organisers will provide more details at the event.
* Venue take down - Take down the conference setup and leave the conference area tidy.

For tasks where you mainly work with others, I’ll be happy to introduce you to the right person. In general, we’ll make sure that you have all the information and resources you need.

I look forward to seeing you all soon! Safe travels, and please let me know if you have any questions. If you have questions during the conference and can’t find me, ping me on Slack, and I’ll receive a notification.

[1] XXXX
[2] http://www.writethedocs.org/code-of-conduct/
[3] http://www.writethedocs.org/code-of-conduct-response/
