Hello everyone,

Thanks again for volunteering at Write the Docs <CITY>!

Firstly, here is a rough overview of the various duties and responsibilities of the volunteers:

* Room setup - Prepping the main conference hall for the main conference, including laying out cables/power strips, arranging tables/chairs, and other physical labor
* Writing day - Registering people and general information inquiries, most likely directions to various rooms and schedule questions, assist with other duties as assigned (supervised by the writing day coordinator)
* Registration/info - Registering people in the main conference hall and answering any questions
* Speaker wrangling - Finding speakers and making sure that they're where they need to be when it comes time to speak (supervised by the main speaker coordinator)
* Talk Timing - Devising a system for timing talks and warning speakers when they're running out of time (supervised by the MC)
* Floaters - Other duties as assigned. Assist with odds and ends requests from other volunteers and organizers as well as answering questions; overall, being generally helpful
* Unconference - Camping out in the unconference area downstairs, keeping the place in order, updating unconference room schedule, and so on (supervised by the unconference coordinator)


Now that you have a general idea of the roles you can take on during the conference, go ahead and look at the draft schedule <LINK>.

FYI - morning floaters and registration shifts for the main conference are the longest shifts, but there will be breaks, and we cover for each other in case of emergencies of course!

What you should do by <DATE>:

1. Confirm that you will be able to do the shifts. If your schedule has changed since you signed up and you cannot cover a particular shift, please communicate with the other volunteers to see if they would be willing to swap shifts or cover for you.
2. Fill out the contact information on <LINK>.
3. Make sure you have your volunteer ticket: https://ti.to/writethedocs/write-the-docs-eu-2017/with/07dcs8bseni. If you already paid for a ticket, please let me know so that we can get your ticket refunded.

I will be sending out more information nearer to the conference date. Please do not hesitate to ask me any questions in the meantime.

Thanks again,
<NAME>
