Hello everyone,

Thanks again for volunteering at Write the Docs <CITY>!

Firstly, here is a rough overview of the various duties and responsibilities of the volunteers:

* Room setup - Prepping the main conference hall for the main conference, including laying out cables/power strips, arranging tables/chairs, and other physical labor. We will go to the venue after the boat ride.
* Writing day - Registering people and general information inquiries, most likely directions to various rooms and schedule questions, assist with other duties as assigned (managed by the writing day coordinator, <PERSON>)
* Registration/info - Registering people in the main conference hall and answering any questions. I will show you everything you need to know during your first shift. You’re welcome to watch the stream of the talks if it’s quiet, but with your own device.
* Speaker coordinator - Finding speakers and making sure that they're where they need to be when it comes time to speak (supervised by the main speaker manager, <PERSON>).
* Talk Timing - Keep track of time during talks, and warn speakers with signs at certain points (managed by the main speaker manager, <PERSON>). New additional task: sound the triangle a few minutes before the session starts, to let people in the break area know the next talk will start soon.
* Floaters - Other duties as assigned. Assist with odds and ends requests from other volunteers and organizers as well as answering questions; overall, being generally helpful. You can watch talks during this shift, as long as I can contact you if needed. Do make sure you stay in / very near the venue.
* Unconference / Job Fair - Camping out in the unconference / job fair area downstairs, keeping the place in order, updating unconference room schedule, assisting with questions, and so on (managed by the unconference coordinator, <PERSON>).
* Social event - making sure everyone entering has a badge or wristband, and handing out wristbands to people with badges. This likely does not need two people all the time, but having two people assigned makes it easier to do things like getting drinks.

Now that you have a general idea of the roles you can take on during the conference, go ahead and look at the draft schedule <LINK>.

FYI - morning floaters and registration shifts for the main conference are the longest shifts, but there will be breaks, and we cover for each other in case of emergencies of course!

What you should do by <DATE>:

1. Confirm that you will be able to do the shifts. If your schedule has changed since you signed up and you cannot cover a particular shift, please communicate with the other volunteers to see if they would be willing to swap shifts or cover for you.
2. Fill out the contact information on <LINK>.
3. Make sure you have your volunteer ticket: <LINK>

I will be sending out more information nearer to the conference date. Please do not hesitate to ask me any questions in the meantime.

Thanks again,
<NAME>
