Hello volunteers,

Now that the conference is coming up soon, I have some additional information for you:

*Shifts*
Please review the schedule again [1] as some recent changes were made. At the conference, please arrive 15 minutes before your first shift starts to meet at the registration desk for a quick briefing and to go over any questions you have before your shift. For shifts after, please arrive 5 minutes before. For the Saturday setup crew, I may not be on site; but there will be other organizers at that time, and they will be able to brief you.

*Volunteer identification*
You all will wear special lanyards for your volunteer shifts. This will let others know that they can reach out to you with questions and that you are gracious enough to donate some of your time to help make this conference succeed! In case you don't have the answers at hand, you can refer those folks along to me. You'll also receive regular attendee lanyards so that when you're not on shift you can rest and relax.

*Code of Conduct*
Please review the Code of Conduct [2] and the Response Guide [3], as we want to make sure that everyone is familiar with our guidelines and how to make the conference comfortable and inclusive to all. We take the code of conduct and incident response very seriously, and we expect all volunteers to take it seriously as well. In general, CoC reports will be handled by the CoC response team, which consists of XXXX.

If someone comes to you with a CoC report, grab one of us. Feel free to interrupt any of us from what we are doing at the time. If it’s not immediately possible, at least take down the reporter's details and ideally, what happened, where, when and who was involved. You can take action yourself only if you can’t reach any of us and if the situation requires immediate action, but ideally consult at least another organiser or volunteer. In non-urgent cases, please do not take action on your own, and don’t express to the reporter whether or not you think this is a CoC violation or what action should be taken. If you find yourself in a situation where you have any questions regarding CoC process, please feel free to ask one of us. I should stress that most CoC incidents are rather minor and not urgent at all, though we take those seriously also, but it’s important for us to be prepared for more severe situations as well.

*Roles*
Each role is detailed on: https://www.writethedocs.org/organizer-guide/confs/volunteer-roles/
For tasks where you mainly work with others, I’ll be happy to introduce you to the right person. In general, we’ll make sure that you have all the information and resources you need.

I look forward to seeing you all soon! Safe travels, and please let me know if you have any questions. If you have questions during the conference and can’t find me, ping me on Slack, and I’ll receive a notification.

[1] XXXX
[2] http://www.writethedocs.org/code-of-conduct/
[3] http://www.writethedocs.org/code-of-conduct-response/
