Hello everyone,

Thanks again for volunteering at Write the Docs <CITY>!

Firstly, please look at the different volunteer roles we have: https://www.writethedocs.org/organizer-guide/confs/volunteer-roles/
Now that you have a general idea of the roles you can take on during the conference, go ahead and look at the draft schedule <LINK>.

FYI - morning floaters and registration shifts for the main conference are the longest shifts, but there will be breaks, and we cover for each other in case of emergencies of course!

What you should do by <DATE>:

1. Confirm that you will be able to do the shifts. If your schedule has changed since you signed up and you cannot cover a particular shift, please communicate with the other volunteers to see if they would be willing to swap shifts or cover for you.
2. Fill out the contact information on <LINK>.
3. Make sure you have your volunteer ticket: <LINK>

I will be sending out more information nearer to the conference date. Please do not hesitate to ask me any questions in the meantime.

Thanks again,
<NAME>
