{% extends "base.html" %}

{% block head_link %}
  {{ super() }}
  <link href="{{ base_url }}/css/2015.main.css" rel="stylesheet" />
{% endblock %}

{% block container %}
  <div class="hero">
    <div class="container">
      <div class="row row-logo"></div>
      <div class="row row-nav">
        <div class="hero-nav col-md-8 col-md-offset-2 col-sm-12">
          <ul class="nav nav-pills nav-center">
            <li><a href="#north-america-2015">About</a></li>
            <li class="highlight"><a href="#subscribe">Subscribe</a></li>
            <li><a href="#events">Events</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1 col-sm-8">
        {% include "content.html" %}
      </div>
      <div class="col-md-3 col-sm-4 col-sidebar">
        <h3>Day 1</h3>
        <p>
          Content.
        </p>

        <h3>Day 2</h3>
        <p>
          Content.
        </p>

        <h3>Sponsors</h3>
        <p>
          Contact us for more information on sponsorship.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
