@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wdth,wght@75..125,100..900&display=swap');

:root {
	--color-text-dark: #50514F;
	--color-text-light: #999999;
	--color-text-contrast: #FFFFFF;
	--color-grid: #F2F4F6;
	--color-series-a: #00AEFF;
	--color-series-b: #FFA600;
	--font: "Asap", sans-serif;
	--transition: all 0.3s ease-in-out;

	--color-more: #008dcf;
	--color-same: #00dfe1;
	--color-less: #048000;

	--color-very-confident: #008dcf;
	--color-confident: #00b7e1;
	--color-neutral: #00dfe1;
	--color-not-confident: #00b281;
	--color-not-confident-at-all: #048000;
}

.title {
	display: none;
	fill: var(--color-text-dark);
	font-family: var(--font);
	font-weight: 500;
	.subtitle {
		fill: var(--color-text-light);
		font-weight: 400;
	}
}

.gridlines {
	stroke: var(--color-grid);
	stroke-width: 1;
}

.axis-labels {
	fill: var(--color-text-dark);
	font-family: var(--font);
	font-weight: 400;
}

.y-axis {
	.axis-labels {
		fill: var(--color-text-light);
	}
}

.value-labels, .value-labels-outer, .value-labels-outer text, .value-labels-inner, .value-labels-inner text, .labels text {
	fill: var(--color-text-dark);
	font-family: var(--font);
	font-weight: 400;
}

.labels .figure {
	font-weight: 700;
}

.value-labels-inner, .value-labels-inner text {
	fill: #FFF;
}

.bars {
	fill: var(--color-series-a);
	fill-opacity: 0.8;
}

.bars path {
	transition: var(--transition);
}

.bars path:hover {
	fill-opacity: 1;
}

.donut-chart {

	.slices, .slices path {
		stroke: white;
		stroke-width: 2;
		transition: var(--transition);
	}

	.value-labels-inner, .value-labels-inner text {
		fill: var(--color-text-contrast);
	}

	.value-labels-outer, .value-labels-outer text {
		fill: var(--color-text-dark);
	}

	/* more-less-same */
	.slices {
		fill-opacity: 0.6;
		&.same { fill: var(--color-same); }
		&.less { fill: var(--color-less); }
		&.more { fill: var(--color-more); }
	}
	.pointers {
		stroke-dasharray: 1 3;
		&.same { stroke: var(--color-same); }
		&.less { stroke: var(--color-less); }
		&.more { stroke: var(--color-more); }
	}
	g.same:hover path.same.slices,
  g.less:hover path.less.slices,
  g.more:hover path.more.slices {
    fill-opacity: 1;
  }
  g.same:hover text.same,
  g.less:hover text.less,
  g.more:hover text.more {
    font-weight: 700;
  }

	/* very-confident etc */
	.slices {
		fill-opacity: 0.6;
		&.very-confident { fill: var(--color-very-confident); }
		&.confident { fill: var(--color-confident); }
		&.neutral { fill: var(--color-neutral); }
		&.not-confident { fill: var(--color-not-confident); }
		&.not-confident-at-all { fill: var(--color-not-confident-at-all); }
	}

	.pointers {
		stroke-dasharray: 1 3;
		&.very-confident { stroke: var(--color-very-confident); }
		&.confident { stroke: var(--color-confident); }
		&.neutral { stroke: var(--color-neutral); }
		&.not-confident { stroke: var(--color-not-confident); }
		&.not-confident-at-all { stroke: var(--color-not-confident-at-all); }
	}

	g.very-confident:hover .slices.very-confident,
	g.confident:hover .slices.confident,
	g.neutral:hover .slices.neutral,
	g.not-confident:hover .slices.not-confident,
	g.not-confident-at-all:hover .slices.not-confident-at-all {
		fill-opacity: 1;
	}

	g.very-confident:hover text.very-confident,
	g.confident:hover text.confident,
	g.neutral:hover text.neutral,
	g.not-confident:hover text.not-confident,
	g.not-confident-at-all:hover text.not-confident-at-all {
		font-weight: 700;
	}

}



/*
.bar-chart-vertical {

	.data-series {

		.value-labels-outer text {
			fill: var(--text-1);
			font-size: var(--font-size-0);
		}

		.a {
			
			.axis-labels {
				fill: var(--text-1);
				font-size: var(--font-size-0);
			}

			.bars {
				fill: var(--series-a);
				fill-opacity: 0.8;
			}

			.bars path:hover {
				filter: brightness(1.2);
			}

			.value-labels text{
				fill: var(--surface-1-light);
				font-size: var(--font-size-0);
			}

			.value-labels.transform text{
				fill: var(--surface-1-light);
				transform: translateY(2rem);
				font-size: var(--font-size-0);
			}

		}

		.b {
			
			.axis-labels {
				fill: var(--text-1);
				font-size: var(--font-size-0);
			}

			.bars {
				fill: var(--series-b);
				fill-opacity: 0.8;
			}

			.bars path:hover {
				filter: brightness(1.2);
			}

			.value-labels text {
				fill: var(--surface-1-light);
				font-size: var(--font-size-0);
			}

			.value-labels.transform text {
				fill: var(--surface-1-light);
				transform: translateY(2rem);
				font-size: var(--font-size-0);
			}

			.external-labels text {
				fill: var(--text-1);
				font-size: var(--font-size-0);
			}

		}

	}

}

.bar-chart-horizontal {

	.data-series {

		.a {
			
			.axis-labels text{
				fill: var(--text-contrast);
				font-size: var(--font-size-0);
			}

			.bars {
				fill: var(--series-a);
				fill-opacity: 0.8;
			}

			.bars path:hover {
				filter: brightness(1.2);
			}

			.value-labels text{
				fill: var(--text-contrast);
				font-size: var(--font-size-0);
			}

		}

	}

	.data-series-stacked {

		.a {
			
			.axis-labels text{
				font-size: var(--font-size-0);
			}

			.value-labels text{
				font-size: var(--font-size-0);
			}

		}

	}

}

.donut-chart {

	.slices path {
		stroke: white;
		stroke-width: 2;
		fill-opacity: 0.8;
	}

	.slices path:hover {
		filter: brightness(1.2);
	}

	.value-labels-inner text{
		fill: var(--text-contrast);
		font-size: var(--font-size-0);
	}

	.value-labels-outer text{
		fill: var(--text-1);
		font-size: var(--font-size-0);
	}

}

.legend text {
	font-size: var(--font-size-0);
	fill: var(--text-1);
}

*/