@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('/_static/survey/fonts/Asap-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


:root {
  --color-text-dark: #50514F;
  --color-text-light: #999999;
  --color-text-contrast: #FFFFFF;
  --color-grid: #F2F4F6;
  --color-series-a: #00AEFF;
  --color-series-b: #FFA600;
  --color-blue-dark: #1A4A8C;
  --color-blue-light: #7EA4FF;
  --color-blue-range: #A8C8E8;
  --color-orange-dark: #E4774E;
  --color-orange-light: #FFD080;
  --color-red: #C94040;
  --color-grey: #BBBBBB;
  --color-satisfaction-very-unsatisfied: #C2255C;
  --color-satisfaction-unsatisfied: #E4774E;
  --color-satisfaction-neutral: #E9C168;
  --color-satisfaction-satisfied: #82A555;
  --color-satisfaction-very-satisfied: #087F5B;
  --font: "Asap", sans-serif;
  --transition: all 0.3s ease-in-out;

	--color-more: #97BB50;
	--color-same: #CDC899;
	--color-less: #F09100;

	--color-very-confident: #008dcf;
	--color-confident: #00b7e1;
	--color-neutral: #00dfe1;
	--color-not-confident: #00b281;
	--color-not-confident-at-all: #048000;
}

text {
	font-family: 'asap',sans-serif;
	fill: var(--color-text-dark);
	&.reverse {
		fill: var(--color-text-contrast);
	}
}

.title {
	display: none;
	fill: var(--color-text-dark);
	font-family: var(--font);
	font-weight: 500;
	.subtitle {
		fill: var(--color-text-light);
		font-weight: 400;
	}
}

.donut-chart, .bar-chart-horizontal {

rect {
rx: 2;
}

text.value-labels-inner {
font-size: 12px;
font-weight: 700;
filter: url(#label-bg);
}

}

.donut-chart {

  .slice {
    stroke: white;
    stroke-width: 2;
  }

}

.scale-satisfaction {

  .very-unsatisfied {
    fill: var(--color-satisfaction-very-unsatisfied);
  }

  .unsatisfied {
    fill: var(--color-satisfaction-unsatisfied);
  }

  .neutral {
    fill: var(--color-satisfaction-neutral);
  }

  .satisfied {
    fill: var(--color-satisfaction-satisfied);
  }

  .very-satisfied {
    fill: var(--color-satisfaction-very-satisfied);
  }

}

.scale-search-confidence {

  .not-at-all {
    fill: var(--color-satisfaction-very-unsatisfied);
  }

  .not-confident {
    fill: var(--color-satisfaction-unsatisfied);
  }

  .neutral {
    fill: var(--color-satisfaction-neutral);
  }

  .confident {
    fill: var(--color-satisfaction-satisfied);
  }

  .very-confident {
    fill: var(--color-satisfaction-very-satisfied);
  }

}

.scale-three-trend {

  .negative {
    fill: var(--color-satisfaction-unsatisfied);
  }

  .neutral {
    fill: var(--color-satisfaction-neutral);
  }

  .positive {
    fill: var(--color-satisfaction-satisfied);
  }

}

.scale-preferred-term {

  .contractor {
    fill: var(--color-series-a);
  }

  .self-employed {
    fill: var(--color-blue-light);
  }

  .freelancer {
    fill: var(--color-series-b);
  }

  .other {
    fill: var(--color-grey);
  }

}

.scale-client-config {

  .single {
    fill: var(--color-series-a);
  }

  .multiple {
    fill: var(--color-blue-light);
  }

  .both {
    fill: var(--color-series-b);
  }

  .not-specified {
    fill: var(--color-grey);
  }

}

.scale-contract-length {

  .short-only {
    fill: var(--color-series-b);
  }

  .medium-only {
    fill: var(--color-orange-light);
  }

  .long-only {
    fill: var(--color-series-a);
  }

  .mixed {
    fill: var(--color-blue-light);
  }

  .not-specified {
    fill: var(--color-grey);
  }

}

.scale-products-services {

  .product {
    fill: var(--color-series-b);
  }

  .service {
    fill: var(--color-series-a);
  }

  .both {
    fill: var(--color-blue-light);
  }

  .neither {
    fill: var(--color-grey);
  }

}

.scale-job-search-status {

  .open-offers {
    fill: var(--color-series-a);
  }

  .not-open {
    fill: var(--color-blue-dark);
  }

  .actively-looking {
    fill: var(--color-series-b);
  }

  .not-looking-yet {
    fill: var(--color-blue-light);
  }

  .open-to-contract,
  .open-to-permanent {
    fill: var(--color-orange-dark);
  }

  .contracting-while-looking {
    fill: var(--color-red);
  }

}

.scale-feedback-likert {

  .strongly-disagree {
    fill: var(--color-satisfaction-very-unsatisfied);
  }

  .disagree {
    fill: var(--color-satisfaction-unsatisfied);
  }

  .neutral {
    fill: var(--color-satisfaction-neutral);
  }

  .agree {
    fill: var(--color-satisfaction-satisfied);
  }

  .strongly-agree {
    fill: var(--color-satisfaction-very-satisfied);
  }

}

.scale-gender-identity {

  .woman {
    fill: var(--color-series-a);
  }

  .man {
    fill: var(--color-blue-light);
  }

  .non-binary {
    fill: var(--color-series-b);
  }

  .not-specified {
    fill: var(--color-grey);
  }

}

.scale-single-series {

  .series-a {
    fill: var(--color-series-a);
  }

}

.scale-employment-history {

  .employees {
    fill: var(--color-series-a);
  }

  .contractors {
    fill: var(--color-series-b);
  }

  .employee-contractors {
    fill: var(--color-more);
  }

}

.scale-statement-bars {

  .disagree {
    fill: var(--color-satisfaction-unsatisfied);
  }

  .neutral {
    fill: var(--color-satisfaction-neutral);
  }

  .agree {
    fill: var(--color-satisfaction-satisfied);
  }

  .dont-know {
    fill: var(--color-blue-range);
  }

}

.scale-salary-lines {

  line.worldwide,
  path.worldwide,
  polyline.worldwide {
    fill: none;
    stroke: var(--color-orange-dark);
  }

  circle.worldwide {
    fill: var(--color-orange-dark);
  }

  line.north-america,
  path.north-america,
  polyline.north-america {
    fill: none;
    stroke: var(--color-blue-dark);
  }

  circle.north-america {
    fill: var(--color-blue-dark);
  }

  line.europe,
  path.europe,
  polyline.europe {
    fill: none;
    stroke: var(--color-satisfaction-satisfied);
  }

  circle.europe {
    fill: var(--color-satisfaction-satisfied);
  }

}

.scale-salary-range {

  .percentile-range {
    fill: var(--color-blue-range);
  }

  line.median {
    stroke: var(--color-blue-dark);
  }

  circle.median-only {
    fill: var(--color-blue-dark);
  }

}

.scale-salary-state {

  rect.state-bar {
    fill: var(--color-blue-dark);
  }

  line.benchmark {
    stroke: var(--color-orange-dark);
  }

  text.benchmark {
    fill: var(--color-orange-dark);
  }

}

.scale-gender-gap {

  circle.women {
    fill: var(--color-orange-dark);
  }

  circle.men {
    fill: var(--color-blue-dark);
  }

}

.donut-chart path {
transition: var(--transition);
fill-opacity: 1;
}

.donut-chart path:hover {
fill-opacity: 0.8;
}


.bar-chart-vertical {

	.gridlines {
		stroke: var(--color-grid);
		stroke-width: 1;
	}

	.axis-labels {
		fill: var(--color-text-dark);
		font-family: var(--font);
		font-weight: 400;
	}

	.y-axis {
		.axis-labels {
			fill: var(--color-text-light);
		}
	}

	.value-labels, .value-labels-outer, .value-labels-outer text, .value-labels-inner, .value-labels-inner text, .labels text {
		fill: var(--color-text-dark);
		font-family: var(--font);
		font-weight: 400;
	}

	.labels .figure {
		font-weight: 700;
	}

	.value-labels-inner, .value-labels-inner text {
		fill: #FFF;
	}

	.bars {
		fill: var(--color-series-a);
		fill-opacity: 0.8;
	}

	.bars path,
	.bars rect {
		transition: var(--transition);
	}

	.bars path:hover,
	.bars rect:hover {
		fill-opacity: 1;
	}

}

.bar-chart-horizontal {

	.value-labels-inner {
		fill: var(--color-text-dark);
		font-family: var(--font);
		font-weight: 700;
	}

}
