{% extends "base.html" %}

{% block head_link %}
  {{ super() }}
  <link href="{{ base_url }}/css/2015.main.css" rel="stylesheet" />
{% endblock %}

{% block container %}
  <div class="hero hero-blog">
    <div class="container">
      <div class="row row-logo">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
          <a href="/conf/na/2015/">
            <img src="{{ base_url }}/img/2015/email-logo.png" />
          </a>
        </div>
      </div>
      <div class="row row-nav">
        <div class="hero-nav col-md-8 col-md-offset-2 col-sm-12">
          <ul class="nav nav-pills nav-center">
            <li><a href="/conf/na/2015/#speakers">Speakers</a></li>
            <li><a href="/conf/na/2015/#tickets">Tickets</a></li>
            <li><a href="/conf/na/2015/schedule/">Schedule</a></li>
            <li><a href="/conf/na/2015/#sponsors">Sponsors</a></li>
            <li><a href="/conf/na/2015/#contact-us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-content">
        {% include "content.html" %}
      </div>
    </div>
  </div>
{% endblock %}
