@import "alabaster.css";

@font-face {
    font-family: 'Hagin Caps Medium';
    src: url('hagin-caps-medium-webfont.eot');
    src: url('hagin-caps-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('hagin-caps-medium-webfont.woff') format('woff'),
         url('hagin-caps-medium-webfont.ttf') format('truetype'),
         url('hagin-caps-medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hagin Caps Thin';
    src: url('hagin-caps-thin-webfont.eot');
    src: url('hagin-caps-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('hagin-caps-thin-webfont.woff') format('woff'),
         url('hagin-caps-thin-webfont.ttf') format('truetype'),
         url('hagin-caps-thin-webfont.svg#hagin_caps_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poly';
    src: url('poly-italic-webfont.eot');
    src: url('poly-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('poly-italic-webfont.woff') format('woff'),
         url('poly-italic-webfont.ttf') format('truetype'),
         url('poly-italic-webfont.svg#polyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poly';
    src: url('poly-regular-webfont.eot');
    src: url('poly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('poly-regular-webfont.woff') format('woff'),
         url('poly-regular-webfont.ttf') format('truetype'),
         url('poly-regular-webfont.svg#polyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.body body, div.body input, div.body textarea {
  font-family: "Poly", Helvetica, Arial, sans-serif;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5 {
  font-family: "Hagin Caps Medium";
}

.crew-images a {
  margin: 5px;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5 {
  font-family: "Hagin Caps Medium";
}
