name: Vale

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  BUILD_VIDEOS: true


jobs:
  vale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install docutilsfor rst2html
        run: sudo apt-get install -y docutils

      - name: Linter
        uses: errata-ai/vale-action@reviewdog
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: docs/
          vale_flags: "--config=vale/vale.ini"
          reporter: github-pr-check
          fail_on_error: true
          filter_mode: file
          version: 3.4.2

      - name: Guide Linter
        uses: errata-ai/vale-action@reviewdog
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: docs/guide/
          vale_flags: "--config=vale/guide.ini"
          reporter: github-pr-check
          fail_on_error: true
          filter_mode: file
          version: 3.4.2

      - name: Conf news Linter
        uses: errata-ai/vale-action@reviewdog
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        with:
          files: docs
          vale_flags: "--config=vale/news.ini --glob=docs/conf/**/news/*"
          reporter: github-pr-check
          fail_on_error: true
          filter_mode: file
          version: 3.4.2
