.. raw:: html
    <dl class="meetup-listing">
        {% for meetup in meetups %}
        <dt class="meetup-listing-detail">

            <a href="{% if meetup['page'] %}{{ meetup['page'] }}{% else %}http://www.meetup.com/{{ meetup['meetup'] }}/{% endif %}">
                {% if meetup['city'] %}{{ meetup['city'] }}, {% endif -%}
                {% if meetup['state'] %}{{ meetup|state_abbr }}, {% endif -%}
                {{ meetup['country'] -}}
            </a>
        </dt>
        {% if meetup.has_meta %}
        <dd>
          <dl class="meetup-listing-meta">
            {# Alternative meetup link, we are already using the page as the site link #}
            {% if meetup['page'] %}
              <div>
                More information on <a href="http://meetup.com/{{ meetup['meetup'] }}/">Meetup</a>
              </div>
            {% endif %}

            {# Organizer listing #}
            {% if 'organizers' in meetup %}
              <div>
                Organized by
                {% for organizer in meetup['organizers'] -%}
                  {% if loop.last and not loop.first %} and {% endif -%}
                  {%- if 'link' in organizer -%}
                    <a href="{{ organizer.link }}">{{ organizer.name }}</a>
                  {%- else -%}
                    {{ organizer.name }}
                  {%- endif -%}
                  {%- if not loop.last and loop.length > 2 -%}, {% endif -%}
                {%- endfor %}
              </div>
            {% endif %}

            {# On twitter #}
            {% if meetup['twitter'] %}
              <div>
                <a href="https://twitter.com/{{ meetup['twitter'] }}">@{{ meetup['twitter'] }}</a>
              </div>
            {% endif %}

          </dl>
        </dd>
        {% endif %}
        {% endfor %}
    </dl>
